.payment-page {
  background-color: white;
  height: 40vh;
  width: 100%;
  top: 52px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-block-container {
  position: relative;
}

.inner-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
